/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer reset*/
/* ----------------------------------------------------- */
/* Universal Styles */

* {
    font-size: 16px;
}
html,
body {
	line-height: 1.15;
	font-family: 'Lato', sans-serif;
	background-color: whitesmoke;
	max-width: 100%;
	overflow-x: hidden;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-align: left;
	margin: 3% 0;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	font-weight: bold;
	margin: 1% 0;
}
h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.25em;
	font-weight: normal;
}
h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	margin: 1% 0;
	color: #808080;
}
h5 {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	color: black;
	margin: 1% 0;
	display: inline-block;
}
h5 a {
	color: black;
}
h5 a:link,
h5 a:visited {
	text-decoration: underline;
}
h5 a:hover,
h5 a:focus {
	text-decoration: none;
}
p {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin: 1% 0;
	font-size: 1.15em;
	max-width: 750px;
}
p a {
  color: black;
}
p a:link,
p a:visited {
  text-decoration: underline;
}
p a:hover,
p a:active {
  text-decoration: none;
}
em {
  font-style: italic;
}
nav a,
footer a {
	padding: 10px 20px;
	text-decoration: none;
}
article {
	padding: 1%;
}
section {
	margin: 3% 0;
}
.horizontal-rule {
	width: 100%;
	height: 0;
	border-bottom: 5px solid black;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
.accent-color {
	color: #808080;
}
.project h5 {
	display: inline-block;
}
img {
	max-width: 600px;
	border: 20px solid black;
	margin-top: 5%;
}

/* Header */

header {
	width: 100%;
	background-color: black;
	padding: 1%;
}
.hamburger {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
}
.change {
	position: fixed;
	top: 5px;
	left: 5px;
}
.bar-1, 
.bar-2, 
.bar-3 {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
	transition: 0.375s;
}
.change .bar-1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
	background-color: whitesmoke;
}
.change .bar-2 {
	opacity: 0;
}
.change .bar-3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
	background-color: whitesmoke;
}
nav ul {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
nav li {
	
	margin: 1% 2%;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
nav li a {
	transition: background-color 0.375s ease;
}
nav li a:link,
nav li a:visited {
	color: whitesmoke;
}
nav li a:hover,
nav li a:focus {
	color: black;
	background-color: whitesmoke;
}
.current-page {
	text-decoration: underline;
}

/* Banner */

#banner {
	background-image: url('../images/index-banner-image.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
#overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#banner h1 {
	color: white;
	text-shadow: -2px -2px black;
}

/* Index icons */
aside {
	text-align: left;
	width: 100%;
	margin: 0 auto;
}
aside ul {
	margin: 1% 0;
  max-width: 750px;
}
aside li {
	margin: 2%;
	display: inline-block
}
i {
	font-size: 4em;
}
a i {
	color: black;
}


/* Footer */

footer h5 {
	font-family: 'Roboto Mono', Courier, monospace;
	font-size: 1em;
	font-weight: normal;
	color: whitesmoke;
}

footer {
	margin: 0 auto;
	background-color: black;
	color: whitesmoke;
	width: 100%;
	height: 10%;
	min-height: 150px;
	max-height: 400px;
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0px;
	padding: 1%;
	padding-top: 5%;
}
footer ul {
	margin: 0 auto;
	text-align: center;
}
footer li {
	list-style-type: none;
	padding: 1%;
}
footer li,
footer li a {
	color: whitesmoke;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	transition: transform 0.375s ease;
}
footer li a:link,
footer li a:visited {
	color: whitesmoke;
}
footer li:hover,
footer li:focus,
footer li a:hover,
footer li a:focus {
	color: whitesmoke;
	text-decoration: underline;
	transform: scale(1.25);
}

/* Desktop Media Query */

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 8em;
	}
	article, 
	aside {
		max-width: 1200px;
		margin-left: 25%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	nav li {
		display: inline-block;
	}
	#banner {
		height: 50vw;
	}
	footer li {
		display: inline-block;
	}
}

/* Tablet Media Query */

@media only screen and (min-width: 750px) and (max-width: 1199px) {
	h1 {
		font-size: 6em;
	}
	article,
	aside {
		max-width: 600px;
		margin-left: 15%;
		margin-top: 5%;
	}
	nav li {
		display: inline-block;
	}
	#banner {
		height: 50vw;
	}
	footer li {
		display: inline-block;
	}
}


/* Mobile Media Query */

@media only screen and (max-width: 749px) {
	h1 {
		font-size: 4em;
	}
	article,
	aside {
		max-width: 600px;
		margin: 2%;
		margin-top: 10%;
	}
	img {
		margin: 1% auto;
		margin-top: 5%;
		max-width: 400px;
		width: 90vw;
	}
	nav li {
		display: block;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	#banner {
		height: 60vw;
	}
	footer li {
		display: block;
	}
}